<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav>
        <a href="/">Home</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
        <a href="/cpf/generate">Gerar e Validar CPF/CNPJ</a>
    </nav>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
</body>
</html>