body {
    background-color: black;
    color: white;
    padding: 0.5rem;
}

a {
    color: rgb(255, 255, 130);
}

img {
    width: 500px;
}

nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

nav a {
    margin-right: 1rem;
}